*,::before,::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
html{
  font-size:16px;
}
:root{
  --primary-1:hsl(10, 79%, 65%); /*soft red */
  --primary-2:hsl(186, 34%, 60%); /* cyan */
  --neutral-1:hsl(25, 47%, 15%); /* dark brown */
  --neutral-2:hsl(28, 10%, 53%); /* medium brown */
  --neutral-3:hsl(27, 66%, 92%); /* cream */
  --neutral-4:hsl(33, 100%, 98%); /* very pale orange */
  --fontFamily:"DM-Sans", sans-serif;
}

body{
  background:var(--neutral-3);
  margin:0 auto;
  font-family:var(--fontFamily);
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.container{
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  margin:0 auto;
  width:100%;
  max-width:360px;
}
.section-header{
  background:var(--primary-1);
  color:#fff;
  display:flex;
  flex-direction:row;
  align-items:center;
  justify-content:space-between;
  text-align:left;
  width:100%;
  max-width:360px;
  padding:1rem;
  margin-bottom:1rem;
  border-radius:10px;
}
h1{
  font-size:.75rem;
  font-weight:100;
  letter-spacing: 1.5;
  margin-bottom:.2rem;
}
h2{
  font-weight:400;
}
h3{
  padding:1rem;
  font-weight:bold;
  letter-spacing: .1rem;
  font-size:1.5rem;
}
.section-body{
  display:flex;
  flex-direction:column;
  /* width:100%; */
  max-width:360px;
  background:var(--neutral-4);
  border-radius:10px;
  padding:.5rem;
}
hr{
  width:85%;
  margin:0 auto;
}
.chart{
  padding:2rem;
  margin:0 auto;
}

.section-footer-main{
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  padding:1.5rem;
}
.section-footer-header{
  display:flex;
  flex-direction:column;
}
h4{
  font-weight:400;
  color:var(--neutral-2);
  margin-bottom:.5rem;
  margin-top:1rem;
}
h5{
  font-weight:700;
  font-size:1.5rem;
}
.section-footer{
  display:flex;
  flex-direction:column;
}
.profit{
  margin-top:2rem;
  font-weight:bold;
  text-align:right;
}
.text{
  color:var(--neutral-2);
}
